.card-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 20rem;
    height: 22rem;
    display: flex;
    align-items: center;
    flex-direction: column;   
    gap: 0.8rem;
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
    background: #2e2e2e;
    box-shadow:  14px 14px 28px #1c1c1c,
             -14px -14px 28px #404040;
}

.card-link:hover {
    color: white;
    text-decoration: none;
    border-radius: 1.5rem;
    background: #2e2e2e;
    box-shadow:  5px 5px 10px #1c1c1c,
                -5px -5px 10px #404040;
}

.card-img {
    width: 90%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem;
}

.card-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 500;
    height: 10rem;
    padding-left: 0.5rem;
}

.card-content h6 {
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .card-link {
        width: 20rem;
    }
}