#authScreen_container {
    height: 100vh;
    background: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-top: 3.5rem;
    min-height: 100vh;
}

#authScreen_container  h1 {
    color: white;
    text-transform: uppercase;
}

.authScreen_card {   
    width: 25rem;
    height: 25rem;
    border-radius: 1.5rem;
    background: #2e2e2e;
    box-shadow:  14px 14px 28px #1c1c1c,
             -14px -14px 28px #404040;
}