@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

.errorScreen {
    height: 100vh;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.errorScreen h2 {
    font-family: 'Work Sans', sans-serif;
    margin-top: 20vh;
    color: white;
    font-weight: 900;
    font-size: 4.8rem;
    padding-right: 4rem;
}

.errorScreen p {
    color: white;
    font-size: 1.5rem;
    width: 27rem;
    padding-right: 4rem;
}

.errorScreen a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    width: 27rem;
    padding-right: 4rem;
}

.errorScreen span {
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
}

.ErrorScreen span:hover {
    color: #402a50;
}

@media (max-width: 992px) {

    .errorScreen {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .errorScreen h2, .errorScreen p, .errorScreen a {
        width: 90vw;
        padding-right: 0;
    }
}