.form-restaurant-create-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 25rem;
    padding: 1.5rem 0rem;
}

.error-feedback {
    width: 100%;
    margin-top: -1.25rem;
    font-size: .875em;
    color: #dc3545;
}

.form-restaurant-create-edit div {
   width: 100%;
}

.form-restaurant-create-edit input {
    width: 100%;
}

@media (max-width: 992px) {

    .form-restaurant-create-edit {
        width: 100vw;
        padding: 1rem;
        margin-right: 1rem;
    }
}