#favouritesScreen-container {
    background: #2e2e2e;
    color: white;
    min-height: 100vh;
}

#favouritesScreen-container h2 {
    text-align: center;
    padding: 1rem;
}

.card-wrapper {
    position: relative;
    width: fit-content;
}

.actions-wrapper {
    width: 82%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.action-icon {
    width: 27px;
    cursor: pointer;
}

.no-data-msg-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {

    #favouritesScreen-container h2 {
        margin-left: 1rem;
        padding-bottom: 0;
        width: 5rem;
    }
}