#restaurant-detail-container {
    background: #2e2e2e;
    color: white;
    height: 100vh;
    display: flex;
    gap: 4rem;
    padding: 4rem 2rem 2.5rem 2.5rem;
}

.resto-img {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem;
}

.resto-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    height: 100%;    
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background: #2e2e2e;
    box-shadow:  14px 14px 28px #1c1c1c,
             -14px -14px 28px #404040;
}

.resto-info-wrapper span {
    margin-left: 1rem;
}

.resto-info-wrapper ul {
    margin-left: 0.8rem;
    line-height: 2rem;
    list-style: none;
}
.icon-resto {
    width: 27px;
}