#restaurant-detail-container {
    background: #2e2e2e;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3.5rem 2rem 2rem 2.5rem;
}

.fav-img {
    width: 27px;
}

.resto-img {
    width: 35rem;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem;
}

.resto-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 35rem;
    height: 35rem;    
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background: #2e2e2e;
    box-shadow:  14px 14px 28px #1c1c1c,
             -14px -14px 28px #404040;
    overflow-y: scroll;
}

.resto-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resto-info-wrapper span {
    margin-left: 1rem;
}

.resto-info-wrapper ul {
    margin-top: 1rem;
    margin-left: 0.5rem;
    line-height: 2rem;
    list-style: none;
}

#reviews-container {
    margin-top: 1rem;
    margin-left: 2.3rem;
    line-height: 2rem;
    list-style: none;
}


.icon-resto {
    width: 22px;
}

.star-logo {
    width: 18px;
}

#reviews-container .review-name-date {
    margin-left: 1rem;
    font-weight: 600;
}

#reviews-container .review-comments {
    font-style: italic;
}

.fav-icon {
    width: 27px;
    cursor: pointer;
}

@media (max-width: 992px) {

    #restaurant-detail-container {
        gap: 1.5rem;
    }
    
    .resto-img {
        width: 18rem;
        height: 18rem;
    }

    .resto-info {
        width: 18rem;
        height: fit-content;  
        overflow-y: hidden;
    }
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    margin-left: 10px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}