#homeScreen-container {
    background: #2e2e2e;
    color: white;
    min-height: 100vh;
}

#homeScreen-container h2 {
    text-align: center;
    padding: 1rem;
}
.cards-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}