#homeScreen-container {
    background:  #2e2e2e;
    color: white;
}

.cards-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}